/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 4*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


a,
.color-primary,
.text-primary,
.list-mark-1 li:before,
.list-mark-3 li:before,
.blockquote-1:before,
.blockquote-2:before,
.pager li > a:hover,
.pager li > a:hover .icon,
.pagination_primary > li:first-child > a:hover,
.pagination_primary > li:first-child > a:hover .icon,
.pagination_primary > li:last-child > a:hover,
.pagination_primary > li:last-child > a:hover .icon,
.copyright__link:hover,
.form-control-feedback:hover,
.social-list > li > a:hover,
.link-top:hover,
.yamm .nav > li > a:hover,
.post-1 .entry-meta__link:hover,
.list-widget__link:hover,
.comments-list .comment-btn .icon,
.post-full .entry-footer__category:hover,
.team:hover .team__name,
.footer-nav__link:hover , html .wrap-fixed-menu .menu-item .subtitle {color: #333;}


.bg-primary,
.btn-effect:after,
.pagination_primary > .active > a,
.pagination_primary > .active > span,
.pagination_primary > .active > a,
.pagination_primary > .active > span,
.pagination_primary > li > a:hover,
.pagination_primary > li > a:focus,
.dropcap-1:first-letter,
.tooltip-1 .tooltip-inner,
.btn-primary,
.forms__label-check-1:after,
.forms__label-radio-2:before,
.panel-default > .panel-heading,
.owl-theme_mod-a .owl-controls .owl-buttons div:hover,
.sp-selected-button,
.label-primary,
.post-full .social-list__item_link:hover {background-color: #333;}


.pagination > .active > a,
.pagination > .active > span,
.pagination a:hover,
.pagination span:hover,
.pagination a:focus,
.pagination span:focus,
.progress_border_primary,
.forms__label-radio-2:before {border-color: #333;}

.tooltip-1.top .tooltip-arrow,
.tooltip-1.top-left .tooltip-arrow,
.tooltip-1.top-right .tooltip-arrow {border-top-color: #333;}

.tooltip-1.right .tooltip-arrow {border-right-color: #333;}

.tooltip-1.left .tooltip-arrow,
.border-left_primary:before,
.blockquote-1 {border-left-color: #333;}

.tooltip-1.bottom .tooltip-arrow,
.tooltip-1.bottom-left .tooltip-arrow,
.tooltip-1.bottom-right .tooltip-arrow,
.table_primary > thead > tr > th,
.collapse.in {border-bottom-color: #333;}



.logo img {
  opacity: 0;
}
.logo {
  background: url("../../../media/general/logo_type-d.png") no-repeat 50% 0;
}
