/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/

.owl-theme.owl-carousel {
}

.owl-theme .owl-controls{
	position: absolute;
	right: 0;
	width: 100%;
	text-align: center;
	bottom: 0;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}
.owl-theme .owl-controls .owl-buttons div {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
  margin-top: 1px;
	vertical-align: middle;
	transition: all .3s;
	text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.owl-theme .owl-controls .owl-buttons div:hover {
	color: #000;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

.owl-theme .owl-controls .owl-buttons div i {
	display: inline-block;
	font-style: normal;
}
.owl-theme .owl-controls .owl-buttons .owl-prev i {
}
.owl-theme .owl-controls .owl-buttons .owl-next i {
}
.owl-theme .owl-controls .owl-buttons .owl-prev i:after,
.owl-theme .owl-controls .owl-buttons .owl-next i:after {
	font-family: FontAwesome;
	font-size: 18px;
  color: #333333;
}
.owl-theme .owl-controls .owl-buttons .owl-prev i:after {
	content: "\f104";
}
.owl-theme .owl-controls .owl-buttons .owl-next i:after {
	content: "\f105";
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	margin: 0 4px;
	opacity: 0.5;
	border-radius: 50%;
	width: 11px;
	height: 11px;
	background: #aaa;
	border: 2px solid #fff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	border-color: #aaa;
	border-width: 2px;
	background-color: #fff;
	transition: all .3s;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url("AjaxLoader.gif") no-repeat center center
}
