.header-navibox-1   .navbar-brand {
    margin-top: 0px;
    padding: 13px 15px 0 0;
    margin-left: 0 !important;
}

.mobile-menu{
    display: none;
}
/*ABSOLUTE NAV */

.navbar-absolute-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 77;
}
/*LOGO WHITE */


.header.header-logo-white .normal-logo {
	display: block !important;
}
.header.header-logo-white .scroll-logo {
	display: none !important;
}
/*LOGO BLACK */


.header.header-logo-black .normal-logo {
	display: none !important;
}
.header.header-logo-black .scroll-logo {
	display: block !important;
}
/*BACKGROUND  BLACK #000 */

.header.header-background-black {
	background: #484848;
}
/*BACKGROUND  WHITE #fff */

.header.header-background-white {
	background: #fff;
}
.header.header-background-white .top-bar {
	border-bottom: 1px solid #eee;
}
/*BACKGROUND  WHITE #fff */

.header.header-background-trans-white-rgba09 {
	background-color: rgba(255, 255, 255, 0.9);
}
.header. header-background-trans-white-rgba08 {
 background-color:rgba(255, 255, 255, 0.8);
}
.header.header-background-trans-white-rgba07 {
	background-color: rgba(255, 255, 255, 0.7);
}
.header.header-background-trans-white-rgba06 {
	background-color: rgba(255, 255, 255, 0.6);
}
.header.header-background-trans-white-rgba05 {
	background-color: rgba(255, 255, 255, 0.5);
}
.header.header-background-trans-white-rgba04 {
	background-color: rgba(255, 255, 255, 0.4);
}
.header.header-background-trans-white-rgba03 {
	background-color: rgba(255, 255, 255, 0.3);
}
.header.header-background-trans-white-rgba02 {
	background-color: rgba(255, 255, 255, 0.2);
}
.header.header-background-trans-white-rgba01 {
	background-color: rgba(255, 255, 255, 0.1);
}
.header.header-background-trans-white-rgba00 {
	background-color: rgba(255, 255, 255, 0.0);
}
/*COLOR FONTS WHITE #fff */


.header-color-white *, .header.header-color-white .navbar .navbar-nav > li > a {
	color: #fff;
}
.header.header-color-white .toggle-menu-button .toggle-menu-button-icon span {
	background: #fff;
}
.header.header-color-white .navbar .navbar-nav > li > a:hover {
	color: #fff;
}
.header.header-color-white .toggle-menu-button.is-open .toggle-menu-button-icon span {
	background: #fff;
}
.header.header-color-white .header-cart-count {
	background: #fff;
	color: #000;
}
/*COLOR FONTS BLACK #333 */


.header-color-black *, .header.header-color-black .navbar .navbar-nav > li > a {
	color: #333;
}
.header.header-color-black .toggle-menu-button .toggle-menu-button-icon span {
	background: #333;
}
.header.header-color-black .header-cart-count {
	background: #333;
	color: #fff;
}
/*NAV BAR SCROLLING */
 
.navbar-scrolling * {
	color: #333;
}
.header.navbar-scrolling .navbar .navbar-nav > li > a {
	color: #333;
}
.header.navbar-scrolling .navbar .navbar-nav > li:hover > a, .header.navbar-scrolling .navbar .navbar-nav > li a:hover {
	color: #333 !important;
}
.header.navbar-scrolling .navbar .toggle-menu-button .toggle-menu-button-icon span {
	background: #333;
}
.header.navbar-scrolling .header-cart-count {
	background: #333;
	color: #fff;
}
.header.navbar-scrolling {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header.header.navbar-scrolling .normal-logo {
	display: none !important;
}
.header.header.navbar-scrolling .scroll-logo {
	display: block !important;
}
.header.header.navbar-scrolling .navbar {
	border-bottom: 1px solid #eee;
}
.header-menu-middle.header.header.navbar-scrolling .header-navibox-2 {
	border-bottom: 1px solid #eee;
}
.header-topbarbox-border.navbar-scrolling .header-topbarbox-1, .header-topbarbox-border .header-topbarbox-2 {
	border-right: 1px solid #eee;
	border-left: 1px solid r#eee;
}
.navbar-scrolling .navbar .toggle-menu-button.is-open .toggle-menu-button-icon span {
	background: #333 !important;
}
.navbar-scrolling .top-bar {
	border-bottom: 1px solid #eee;
}
/*NORMAL WIDTH */
	
	
	
.header-normal-width .container-boxed-width {
	width: 100%;
	padding: 0;
}
/*FULL WIDTH */


.header-full-width .container {
	width: 100% !important;
	padding: 0;
	text-align: center;
}
.header-full-width .header-navibox-1 {
	padding-left: 25px;
}
.header-full-width #nav .header-navibox-1, .header-full-width #nav .header-navibox-2, .header-full-width #nav .header-navibox-3, .header-full-width #nav .header-navibox-4 {
	float: none !important;
	display: inline-table;
}
.header-full-width .header-navibox-1 {
	position: absolute;
	left: 0;
}
.header-full-width .header-navibox-3 {
	position: absolute;
	right: 90px;
}
.header-full-width .header-navibox-4 {
	position: absolute;
	right: 0;
}
/*BOXED WIDTH */

.header .navbar-scrolling.header-boxed-width .header-navibox-4 {
	border-right: 0;
	border-left: 1px solid #eee;
}
.header-boxed-width #nav {
	border-left: 1px solid #eee !important;
	border-right: 1px solid #eee !important;
}
.header-boxed-width .container-boxed-width .container {
	width: auto !important;
}
.header-boxed-width .header-navibox-4 {
    border-right: 0 !important;
	border-left: 1px solid #eee;
	padding-right: 0px !important;
	margin-left: 15px !important;
	padding-left: 7px !important;
}
.header-boxed-width .header-navibox-1 {
	margin-left: 15px;
}
.header-boxed-width .navbar-scrolling {
	background: none !important;
}
.header-boxed-width .navbar-scrolling #nav {
	background: #fff;
	margin-top: 15px;
}
.header-boxed-width .navbar-scrolling .top-bar {
	display: none;
}
.header-boxed-width .navbar-scrolling #nav {
	border: 1px solid #eee !important;
}
/*NAVI BOX FLOAT*/

.header-navibox-1-left .header-navibox-1, .header-navibox-2-left .header-navibox-2, .header-navibox-3-left .header-navibox-3, .header-navibox-4-left .header-navibox-4 {
	float: left !important;
}
.header-navibox-1-right .header-navibox-1, .header-navibox-2-right .header-navibox-2, .header-navibox-3-right .header-navibox-3, .header-navibox-4-right .header-navibox-4 {
	float: right !important;
}
.header-navibox-1-middle .header-navibox-1, .header-navibox-2-middle .header-navibox-2, .header-navibox-3-middle .header-navibox-3, .header-navibox-4-middle .header-navibox-4 {
	margin: 0 auto !important;
}
.header-navibox-4 #nav {
	border-right: 1px solid rgba(255, 255, 255, 0.15);
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	padding-right: 15px !important;
	margin-left: 15px !important;
}
.header-navibox-4 {
	border-right: 1px solid rgba(255, 255, 255, 0.15);
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	padding-right: 15px !important;
	margin-left: 15px !important;
}
.header-background-white  .header-navibox-4{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding-right: 15px !important;
    margin-left: 15px !important;
}


/*TOP BAR BOX*/


.header-topbar-hidden .top-bar {
	display: none !important;
}
.top-bar {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.top-bar ul {
	margin: 0;
	padding: 0;
}
.top-bar li {
	display: inline-block;
}
.header-topbarbox-1-left .header-topbarbox-1, header-topbarbox-2-left .header-topbarbox-2 {
	float: left !important;
}
.header-topbarbox-1-right .header-topbarbox-1, .header-topbarbox-2-right .header-topbarbox-2 {
	float: right !important;
}
.header-topbarbox-1, .header-topbarbox-2 {
    padding: 15px 0;
    text-transform: uppercase;
}
.header-topbarbox-border .header-topbarbox-1, .header-topbarbox-border .header-topbarbox-2 {
	border-right: 1px solid rgba(255, 255, 255, 0.15);
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	padding-left: 25px;
	padding-right: 25px;
}
/***** HEADER MENU MIDDLE ****/

.header-menu-middle .header-navibox-2 {
	display: inline-block;
	width: 100%;
	float: none;
	border-bottom: 1px solid #eee;
}
.header-menu-middle .header-navibox-2 li a {
	text-transform: uppercase;
}
 .header-menu-middle.header. .center-logo a {
 display: inline !important;
}
.header-menu-middle.header.header-logo-white .normal-logo, .header-menu-middle.header .center-logo {
	display: inline-block;
}
.header-menu-middle .nav .header-cart {
	margin: 6px;
}
.header-menu-middle .header-cart {
	margin: 21px;
	font-size: 20px;
	position: relative;
	float: right;
}
.header-menu-middle .navbar-collapse {
	text-align: center;
}
.header-menu-middle .wrap-inside-nav {
	top: 49px;
}
/***** HEADER MAIN ****/



.header-navibox-1, .header-navibox-2, .header-navibox-3, .header-navibox-4 {
	padding: 15px 0;
}
.navbar -brand {
	padding: 21px 0 6px 15px;
	height: auto;
}
.header.scrolling-header .navbar.navbar-default.navbar-scrolling, .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing {
	background: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #E4E4E4;
	padding-top: 5px;
	padding-bottom: 4px;
}
.header.scrolling-header .navbar.navbar-default.navbar-scrolling .navbar-nav li a, .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing .navbar-nav li a {
	color: #333;
}
.header.scrolling-header .navbar.navbar-default.navbar-scrolling .normal-logo, .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing .normal-logo {
	display: none;
}
.header.scrolling-header .navbar.navbar-default.navbar-scrolling .scroll-logo, .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing .scroll-logo {
	display: inline-block;
}
.header.scrolling-header .navbar.navbar-default.navbar-scrolling .toggle-menu-button .toggle-menu-button-icon span, .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing .toggle-menu-button .toggle-menu-button-icon span {
	background: #333 !important;
}
.header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing {
	background: #fff;
}
.header {
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}
.navbar {
	background: none;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	background: none;
	border: none;
	border-bottom: 1px solid #eee !important;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}
.navbar .toggle-button {
	line-height: 40px;
	cursor: pointer;
	color: #333;
	float: right;
	padding: 0 5px;
}
.navbar .toggle-button.collapsed {
	color: #999;
}
.navbar .toggle-button.collapsed:hover {
	color: #333;
}
.navbar .scroll-logo {
	display: none;
}
.navbar .navbar-nav.social-nav li a {
	padding: 0 5px;
}
#nav .navbar-nav > li {
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar .navbar-nav > li.no-hover a {
	border: none !important;
	cursor: default;
}
.navbar .navbar-nav > li.active, .navbar .navbar-nav > li:hover {
	background: none;
	border: none;
}

.navbar .navbar-nav > li > a {
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	line-height: 31px;
	border-radius: 0;
	border: 1px solid transparent;
	transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	padding: 0 10px;
	margin: 0 1px;
    font-weight: 700;
}
.navbar .navbar-nav > li > a .fa-bars {
	margin-right: 10px;
}
.navbar .main-menu > li {
	right: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.navbar .main-menu > li.hidden-menu-item {
	right: -1500px;
	right: -100vw;
}
.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(1), .toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(2), .toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(1) {
	left: 2px;
	top: 4px;
}
.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(2) {
	left: calc(50% - 2px);
	top: 4px;
}
.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(3) {
	left: -50%;
	opacity: 0;
}
.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(4) {
	left: 100%;
	opacity: 0;
}
.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(5) {
	left: 2px;
	top: 11px;
}
.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(6) {
	left: calc(50% - 2px);
	top: 11px;
}
.toggle-menu-button .toggle-menu-button-icon {
	width: 22px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	position: relative;
	top: -2px;
}
.toggle-menu-button .toggle-menu-button-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 50%;
	background: #666;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.toggle-menu-button .toggle-menu-button-icon span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}
.toggle-menu-button .toggle-menu-button-icon span:nth-child(odd) {
	left: 0px;
	border-radius: 9px 0 0 9px;
}
.toggle-menu-button .toggle-menu-button-icon span:nth-child(1), .toggle-menu-button .toggle-menu-button-icon span:nth-child(2) {
	top: 0px;
}
.toggle-menu-button .toggle-menu-button-icon span:nth-child(3), .toggle-menu-button .toggle-menu-button-icon span:nth-child(4) {
	top: 6px;
}
.toggle-menu-button .toggle-menu-button-icon span:nth-child(5), .toggle-menu-button .toggle-menu-button-icon span:nth-child(6) {
	top: 12px;
}
.navbar-with-inside > li:hover .wrap-inside-nav {
	display: block;
}
/***** INSIDE NAV ****/


.wrap-inside-nav {
	position: absolute;
	left: 0;
	top: 60px;
	display: none;
	min-width: 220px;
	text-align: left;
	border-top: 2px solid #088cdc;
	background: #1a1a1a;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.wrap-inside-nav .inside-col {
	padding: 15px 0;
}
.wrap-inside-nav .inside-col .inside-nav:after, .wrap-inside-nav .inside-col .inside-nav:before {
	display: table;
	clear: both;
	height: 0;
	content: '';
}
.wrap-inside-nav .inside-col .inside-nav li {
	line-height: 45px;
	min-height: 45px;
}
.wrap-inside-nav .inside-col .inside-nav li a {
	display: block;
	padding-left: 20px;
	color: #7e848e !important;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
.wrap-inside-nav .inside-col .inside-nav li a:active, .wrap-inside-nav .inside-col .inside-nav li a:focus {
	display: block;
	padding-left: 20px;
	color: #088cdc !important;
}
.wrap-inside-nav .inside-col .inside-nav li a:hover, .wrap-inside-nav .inside-col .inside-nav li a:active:hover, .wrap-inside-nav .inside-col .inside-nav li a:visited:hover, .wrap-inside-nav .inside-col .inside-nav li a:focus:hover {
	color: #088cdc !important;
	background-color: #26282d;
}
.header-top-menu-support.wrap-fixed-menu {
	top: 141px;
}
.wrap-fixed-menu {
	display: none;
	position: fixed;
	background: #333;
	top: 94px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	overflow: auto;
	font-size: 0;
	z-index: 99999;
}

.wrap-fixed-menu.fixed-menu-header-3 {
    top: 0px;
}

.wrap-fixed-menu .top-items {
	width: 100%;
	height: 50%;
	display: table;
}
.wrap-fixed-menu .top-items .menu-item {
	border-bottom: 1px solid #484848;
}
.wrap-fixed-menu .bottom-items {
	width: 100%;
	height: 50%;
	display: table;
}
.wrap-fixed-menu .menu-item {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	text-align: center;
	width: 50%;
	height: 50%;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	background: #333;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	text-decoration: none;
}
.fixed-menu-hidden .wrap-fixed-menu {
	display: none !important;
}
.wrap-fixed-menu .menu-item.contact-info * {
	color: #fff;
}
.wrap-fixed-menu .menu-item .subtitle {
	color: #ed912a;
}
.wrap-fixed-menu .menu-item.contact-info { /*text-align: left;*/
	cursor: default;
	padding-left: 30px;
	padding-right: 30px;
}
.wrap-fixed-menu .menu-item.contact-info:hover {
	background: #333;
}
.wrap-fixed-menu .menu-item.contact-info h4 {
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}
.wrap-fixed-menu .menu-item.contact-info .fa {
	margin-right: 10px;
}
.wrap-fixed-menu .menu-item:hover {
	background: #484848;
}
.wrap-fixed-menu .menu-item:first-child {
	border-right: 1px solid #484848;
}
.wrap-fixed-menu .menu-item .subtitle {
	font-size: 16px;
	margin-bottom: 10px;
}
.wrap-fixed-menu .menu-item .title {
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	display: block;
}

.header .caret {
    margin-top: -2px;
}
.header-cart {
    margin:9px 10px 30px 20px;
    font-size: 20px;
    position: relative;
    text-align: center;
    display: inline-block;
    width: 25px;
    box-sizing: border-box;
    max-height: 23px;
}
.header-cart-count {
	position: absolute;
	top: -5px;
	right: -14px;
	padding: 5px;
	border-radius: 100px;
	background: #ed912a !important;
	font-size: 10px;
	width: 16px;
	height: 15px;
	line-height: 6px;
	display: inline-block;
	text-align: center;
	color: #fff;
}
.toggle-menu-button {
    border: none;
    background: none;
    margin-top: 2px;
    margin-left: 1px;
}

.js-toggle-mobile-slidebar{
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin-left: 1px;
    margin-top: 2px;
    border: 1px solid #eee;
    padding: 10px;  
}

.mobile-menu .search-open {
    margin: 0 !important;
    position: relative;
    right: 4px;
    top: 0px !important;
}
.mobile-menu .search-open {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #eee;
    margin-left: 1px;
    margin-top: 2px;
    padding: 10px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 20px;
}
.header-section {
    padding: 80px 0 90px;
    text-align: center;
}
.header-section h2 {
	color: #fff;
}
.header-section p {
	color: #fff;
}
.header-section.elements-header {
	background: url("http://html.templines.com/pirez/assets/img/section-1-demo.jpg") top center no-repeat;
	background-size: cover;
}
.header-section.portfolio-single-header {
	background: url("http://html.templines.com/pirez/assets/img/section-1-demo.jpg") top center no-repeat;
	background-size: cover;
}
/*SIDEBARS*/


/**
 * Box Model, Html & Body
 */
 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	transform: translate(0px, 0px);
}


.yamm {
    transform: none !important;
}


[data-canvas=container], [data-off-canvas] {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[data-off-canvas*=reveal] {
	z-index: 0;
	padding: 25px 0;
}
/**
 * Canvas
 */

[data-canvas] {
	z-index: 1;
}
[data-canvas=container] {
	width: 100%;
	height: 100%;
	background-color: white; /* Basic background color, overwrite this in your own css. */
	-webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}
[data-canvas=container]:before, [data-canvas=container]:after {
	clear: both;
	content: '';
	display: table;
}
/**
 * Off-Canavs
 */

[data-off-canvas] {
	display: none;
	position: fixed;
	overflow: hidden;
	overflow-y: auto;
	background-color: black; /* Basic background color, overwrite this in your own css. */
	color: white; /* Basic colors, overwrite this in your own css. */
	-webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}
[data-off-canvas*=top] {
    height: auto;
    left: 0;
    padding: 30px;
    text-align: center;
    top: 0;
    width: 100%;
}
[data-off-canvas*=top] ul {
	margin: 0 !important;
	float: none !important;
}
[data-off-canvas*=top] li {
	float: none !important;
	display: inline-block;
	width: auto !important;
}
[data-off-canvas*=right] {
	width: 255px;
	height: 100%;
	top: 0;
	right: 0;
}
[data-off-canvas*=bottom] {
	width: 100%;
	bottom: 0;
}
html [data-off-canvas*=bottom] {
    left: 0;
    padding: 25px;
    z-index: 8;
}

html [data-off-canvas*=bottom]  ul ul{
    display: none !important;
}
html [data-off-canvas*=bottom] li {
	float: none !important;
	display: inline-block;
	width: auto;
	margin: 0;
	text-transform: uppercase;
	text-align: left;
}
html [data-off-canvas*=bottom] ul {
	margin: 0 auto !important;
	display: inline-block;
	text-align: center;
	width: 100%;
}
[data-off-canvas*=left] {
	width: 255px;
	height: 100%;
	top: 0;
	left: 0;
}
html [data-off-canvas*=open] {
	margin-left: -255px;
	display: block;
	transition-duration: 300ms;
	transform: translate(255px, 0px);
}
[data-off-canvas*=reveal] {
	z-index: 0;
}
[data-off-canvas*=push] {
	z-index: 1;
}
[data-off-canvas*=overlay] {
	z-index: 9999;
}
[data-off-canvas*=shift] {
	z-index: 0;
}
/**
 * Animation
 */

[data-canvas], [data-off-canvas] {
	-webkit-transition: -webkit-transform 300ms;
	transition: transform 300ms;
	-webkit-backface-visibility: hidden; /* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
}
[data-off-canvas*=shift][data-off-canvas*=top] {
	-webkit-transform: translate( 0px, 50% );
	transform: translate( 0px, 50% );
}
[data-off-canvas*=shift][data-off-canvas*=right] {
	-webkit-transform: translate( -50%, 0px );
	transform: translate( -50%, 0px );
}
[data-off-canvas*=shift][data-off-canvas*=bottom] {
	-webkit-transform: translate( 0px, -50% );
	transform: translate( 0px, -50% );
}
[data-off-canvas*=shift][data-off-canvas*=left] {
	-webkit-transform: translate( 50%, 0px );
	transform: translate( 50%, 0px );
}
.menu-mobile-button {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 777;
}

.menu-mobile-button  span{
    background: #000 !important;
}

html .menu-mobile-button {
    top: 10px !important;
    left: 6px !important;
}

[data-off-canvas] ul {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none !important;
    margin: 0 !important;
    position: relative !important;
}

[data-off-canvas] ul ul{
margin-left: 15px !important;
}
[data-off-canvas] li {
	float: none !important;
	display: inline-block;
	width: 100%;
	margin: 0;
	text-transform: uppercase;
	text-align: left;
}
[data-off-canvas] li a {
    color: #fff !important;
    display: inline-block;
    float: none !important;
    margin: 0;
    padding: 12px 27px !important;
    width: 100%;
    background: transparent !important;
}
[data-off-canvas] li:hover a {
	color: #FFAC3A;
}
/*SEARCH MODAL*/

.btn_header_search {
	position: relative;
	top: -2px;
}
.search-form-modal {
	background-color: #000;
	height: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	-webkit-transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
.search-form-modal.open {
	height: 100%
}
.search-form_close {
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: -20px;
}
.header_search_form {
	bottom: 0;
	display: block;
	height: 80px;
	left: 0;
	margin: auto;
	max-width: 550px;
	padding: 15px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.header_search_form .form-group {
	float: left;
	height: 100%;
	width: 68%;
}
.header_search_form .form-group .form-control {
	border-color: #fff;
	border-style: solid none solid solid;
	border-width: 2px 0 2px 2px;
	font-size: 16px;
	height: 100%;
	float: left;
	width: 100%;
	padding: 10px 15px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.header_search_form .btn_search {
	border: 2px solid #337ab7;
	background: #337ab7;
	color: #fff;
	float: right;
	font-size: 16px;
	height: 100%;
	text-transform: uppercase;
	width: 32%;
	text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}


.social-links li i{
    color: #999;
    font-size: 16px;
    margin: 0 3px;
}

/*RESPONSIVE STYLES */


@media (min-width:768px) and (max-width:1000px) {
.center-logo {
	padding-top: 20px;
}
.top-bar .header-topbarbox-1, .top-bar .header-topbarbox-2, .top-bar .header-topbarbox-3, .top-bar .header-topbarbox-4 {
	float: none !important;
	text-align: center;
}
html .menu-mobile-button {
	top: 26px;
}
.header-navibox-4, .header-navibox-3, .header-navibox-2 {
	display: none !important;
}
.header .navbar {
	min-height: 87px;
}
html .header-full-width .header-navibox-1 {
	left: auto;
	position: inherit;
}
html .menu-mobile-button {
	display: block !important;
	top: 26px;
}
}

@media (max-width:768px) {
    
     [off-canvas*="reveal"] {
    z-index: 999;
}  
    
    


.mobile-menu {
  border: 0 none;
    display: inline-block !important;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 780;
}

.mobile-menu .trigger {
margin-top: 0 !important;
     color: #000;
}


    
.toggle-menu-close {
 background: #fff none repeat scroll 0 0;
    float: right;
    font-size: 14px;
    height: 40px;
    position: relative;
    right: 10px;
    top: 0;
    width: 40px;
    margin-top: -15px;
}
    
    
    .toggle-menu-close .fa{
        color: #000;
    }
    
    .sp-button {
    height: 18px;
    width: 18px;
    display: none !important;
}


    .yamm , .header-link , .social-list {
        display: none !important;
    }
.center-logo {
	padding-top: 20px;
}
.top-bar .header-topbarbox-1, .top-bar .header-topbarbox-2, .top-bar .header-topbarbox-3, .top-bar .header-topbarbox-4 {
	float: none !important;
	text-align: center;
}
html .menu-mobile-button {
	top: 26px;
}
.header-navibox-4, .header-navibox-3, .header-navibox-2 {
	display: none !important;
}
.header .navbar {
	min-height: 87px;
}
html .header-full-width .header-navibox-1 {
	left: auto;
	position: inherit;
}
}
.side-logo {
	display: inline-block;
	width: 100%;
	padding: 10px;
}

.side-logo img{
    width: 100%;
    height: auto;

}
.side-cart {
    display: inline-block;
    width: 100%;
    border: 0;
    margin-bottom: 0px;
    margin-top: 20px;
}
.side-cart a {
	color: #fff;
}
.side-search {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding: 20px 20px 0px 20px;
}
.side-form-search {
	position: relative;
	background: #fff;
}
.side-form-search input[type=search] {
	border: none;
	background: none;
	padding: 10px;
	color: #000;
    font-style: italic;
    font-weight: 300;
}
.side-form-search .button {
    border: none;
    background: none;
    border-left: 1px solid #eee;
    padding-left: 9px;
    margin-left: -6px;
}
.side-form-search .button .fa {
	color: #000;
}

.logo-oarange{
    background: #ffad29;
    padding: 23px;
}


.slidebar-nav-panel {
	background-color: #fff;
	padding: 20px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 99999;
	width: 115px;
	border-right: #eee 1px solid;
}
.slidebar-panel.slidebar-nav-middle .toggle-menu-button {
	transform: rotate(90deg);
	position: absolute;
	top: 40%;
	left: -119px;
	outline: none;
	width: 300px;
	display: inline-block;
	padding: 21px;
}
.slidebar-panel.slidebar-nav-middle .toggle-menu-button .toggle-menu-button-icon {
	width: 60px;
}
.slidebar-panel.slidebar-nav-middle .toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(6) {
	left: calc(50% - 21px);
}
.slidebar-panel.slidebar-nav-middle .toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(2) {
	left: calc(50% - 21px);
	top: 4px;
}
.wrap-left-open {
	margin-left: 255px;
}

.side-avatar {
        border-radius: 100px;
    overflow: hidden;
    margin-bottom: 20px;
}

.side-avatar  img{
    width: 100%;
    height: auto;
}


.slidebar-nav-panel    .toggle-menu-button {
    margin-left: 18px;
}

[off-canvas*=slidebar-panel-left] {
	width: 420px;
	height: 100%;
	top: 0;
	left: 0;
	padding-left: 115px;
}
.slidebar-panel-wrap {
	padding-top: 50px;
	margin-left: -120px;
	position: relative;
	z-index: 99999 !important;
}


.slidebar-nav-panel   .social-list li{
    display: block;
    text-align: center;
}


.slidebar-nav-panel  .search-open {
    float: none;
    height: 40px;
    padding-top: 7px;
    padding-left: 0;
    font-size: 14px;;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.col-100{
    width: 100%;
    display: inline-block;
}


.col-100 .layout-theme{
     width: 100%;
    display: inline-block;
    max-width: 100%;
}


.col-50 {
    float: left;
    width: 50%;
    border: 1px solid #fff;
    position: relative;
}

.col-50-sidebar{
    width: 40% !important;

}

.col-50-content{
    width: 60% !important;
    margin: 0;
}

.col-50  .slidebar-panel{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: url('../../media/content/main-slider/1140x600/2.jpg');
    background-size: cover;
}


.col-100 .slidebar-nav-panel {
    position: relative;
}

.col-50-content > div {
    padding: 40px;
}

.col-50-sidebar .about-author {
    position: fixed;
    background: #fff;
}